@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.categories-container {
    background: linear-gradient(to bottom, #6ec6ff, #0952b0);
    min-height: 100vh;
    text-align: center;
    padding: 15rem;
    font-family: 'Press Start 2P', cursive;
    color: black;
    position: relative;
}

.title {
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.category-text {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.timer {
    font-size: 2rem;
    font-weight: bold;
}

.current-word {
    margin-top: 2rem;
}

.word-input {
    margin-top: 1rem;
    font-size: 0.7rem;
    padding: 1rem;
    width: 700px;
}

.submit-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.error {
    color: red;
    font-size: 1rem;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    color: black;
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
    border: 2px solid black;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.back-btn:hover {
    background-color: #ccc;
}

.start-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
